h1{
    color: blue;
    text-align: center; 
    font-family: Arial, sans-serif;
    font-size: 2em;
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: underline;
    font-weight: bold;
    padding: 10px;
    background-color: lightgray;
}
body {
    background-color: #50458e;
    font-family: Arial, sans-serif;
    color: #145a33;
    margin: 0;
    padding: 20px;
}